<html>
<head>
  <title>Metal Corporation</title>
<body>
 <h1>DESCOMPLICANDO ANSIBLE - LINUXTIPS 2021</h1>
 <h2>Data do servidor:          {{ ansible_date_time.date }}</h2>
 <h2>Endereco IP servidor:      {{ ansible_facts.eth0.ipv4.address }}</h2>
 <h2>Hostname do servidor:      {{ ansible_facts.hostname }}</h2>
 <h2>Distribuicao do servidor:  {{ ansible_facts.distribution }} {{ ansible_distribution_version }}</h2>
 <h2>Disco do servidor:         {{ ansible_facts.devices.xvda.size }}</h2>
</body>
</head>
</html>
